* {
    outline: none;
    font-family: clear sans bold;
}

ion-content {
    --background: #e9e9e9;
}

.divCenter {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}